<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ../../../views/templates/header.ejs %>
    <!-- Template CSS -->
    <link rel="stylesheet" href="script-stisla/assets/css/style.css" />
    <link rel="stylesheet" href="script-stisla/assets/css/components.css" />
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <%- include ../../../views/templates/navtop.ejs %>
        <%- include ../../../views/templates/navleft.ejs %>
          <div class="main-content">
            <section class="section">
              <div class="section-header">
                <h1>
                  <%= title %>
                </h1>
                <div class="section-header-breadcrumb">
                  <div class="breadcrumb-item active">
                    <a href="#">Dashboard</a>
                  </div>
                  <div class="breadcrumb-item">
                    <%= title %>
                  </div>
                </div>
              </div>

              <div class="section-body">
                <div class="row">
                  <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                      <div class="card-header">
                        <h4>
                          <%= tbtitle %>
                        </h4>
                      </div>
                      <div class="card-body">
                        <form id="formData" method="POST" action="" class="needs-validation row" novalidate="">
                          <div class="form-group col-md-2">
                            <input type="text" class="form-control required datepicker" name="start" id="start"
                              value="<%= start %>">
                          </div>
                          <div class="form-group col-md-2">
                            <input type="text" class="form-control required datepicker" name="end" id="end"
                              value="<%= end %>">
                          </div>
                          <div class="form-group col-md-2">
                            <button class="btn btn-primary" style="height: 100%;"><i class="fa fa-search"></i>
                              Search</button>
                          </div>
                        </form>
                        <table class="table table-striped table-responsive" id="tabledata" style="width:100%">
                          <thead>
                            <tr>
                              <th scope="col" width="5%">No.</th>
                              <% htitle.forEach(function(h) { if (h.onTable=="ON" ){ %>
                                <th>
                                  <%= h.label %>
                                </th>
                                <% } }) %>
                                <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for (var i=0; i < datarow.length; i++) { %>
                              <tr>
                                <th scope="row">
                                  <%= i+1 %>
                                </th>
                                <td>
                                  <%= datarow[i].police_no %>
                                </td>
                                <td>
                                  <%= datarow[i].model %>
                                </td>
                                <td>
                                  <%= (datarow[i].kategori_customer=='fleet' ? datarow[i].nama_fleet : datarow[i].nama) %>
                                </td>
                                <td class="text-right">
                                  <%= datarow[i].avg_omzet.toLocaleString(); %>
                                </td>
                                <td>
                                  <%= datarow[i].last_service %>
                                </td>
                                <td class="text-right">
                                  <%= datarow[i].first_class.toLocaleString(); %>
                                </td>
                                <td class="text-right">
                                  <%= (datarow[i].followup_date!=null ? (new Date(datarow[i].followup_date).toISOString().replace(/T/, ' ').replace(/\..+/, '')) : 'none') %>
                                </td>
                                <td>
                                  <button class="btn btn-sm btn-info" onclick="createFunction('<%= datarow[i].no_rangka; %>', '<%= datarow[i].last_service; %>')" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-headset"></i></button>
                                </td>
                              </tr>
                              <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- modal -->
            <div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Followup <%= title %>
                    </h5>
                    <button type="button" onclick="location.reload();" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form id="formKendaraanCust" class="row" role="form" action="#">
                      <div class="form-group col-lg-4">
                        <label>No. Rangka</label>
                        <input type="text" class="form-control" id="follownorangka" name="follownorangka" readonly>
                        <input type="hidden" id="followdate" name="followdate">
                      </div>
                      <div class="form-group col-lg-6">
                        <label>Reason</label>
                        <textarea name="reason" id="followreason" class="form-control" required=""></textarea>
                      </div>
                      <div class="form-group col-lg-2">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-success form-control" onclick="addFollowup()"><i class="fas fa-comment-medical"></i> Save</button>
                      </div>
                    </form>

                    <!-- table -->
                    <table class="table table-striped table-responsive" style="max-height: 1200px; width: 100%;">
                      <thead>
                        <tr>
                          <th width="10%">No</th>
                          <th width="60%">Reason</th>
                          <th width="20%">Date</th>
                          <th width="20%">Action</th>
                        </tr>
                      </thead>
                      <tbody id="data-followup"></tbody>
                    </table>
                  </div>
                  <div class="modal-footer bg-whitesmoke br">
                    <button type="button" onclick="location.reload();" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- END MODAL -->
          </div>
          <%- include ../../../views/templates/footer.ejs %>
    </div>
  </div>
  <%- include ../../../views/templates/script.ejs %>
    <script type="text/javascript">

      $(document).ready(function () {
        window.setTimeout(function () {
          $(".alert-autoclose").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
          });
        }, 5000);

        $('#tabledata').DataTable({
          dom: 'Bfrtip',
          searching: true,
          paging: true,
          buttons: [
            'copy',
            {
              extend: 'print',
              title: 'First Class',
              orientation: 'landscape',
              pageSize: 'A4'
            },
            {
              extend: 'excel',
              title: 'First Class',
            },
            {
              extend: 'pdfHtml5',
              title: 'First Class',
              orientation: 'landscape',
              pageSize: 'A4',
              customize: function (doc) {
                doc.styles['td:nth-child(2)'] = {
                  width: '100px',
                  'max-width': '100px'
                }
              }
            },
          ]
        });
      });

      function listFollowup(id, date) {
        $('#followreason').val('');
        let url = '<%= process.env.URL %>/nextservice/followup/list/';
        var data = $('#formKendaraanCust').serialize();
        var alertstatus = false;
        $.ajax({
          type: 'POST',
          url: url,
          data: data,
          dataType: 'json',
          success: function (res) {
            var html = "";
            var nomor = 1;
            res.data.forEach(element => {
              html += '<tr>';
              html += '<td>' + nomor++ + '</td>';
              html += '<td>' + element.reason + '</td>';
              html += '<td>' + new Date(element.followup_date).toISOString().replace(/T/, ' ').replace(/\..+/, '') + '</td>';
              html += '<td><button type="button" onclick="delFunction(\'' + element.id_followup + '\')" class="btn btn-danger btn-sm m-1"><i class="fas fa-minus"></i></button></td>';
              html += '</tr>';
            });
            $("#data-followup").html(html);
          }
        });
      };

      function createFunction(rangka, date) {
        document.getElementById("follownorangka").value = rangka;
        document.getElementById("followdate").value = date;
        listFollowup(rangka, date);
      };

      function addFollowup() {
        let url = '<%= process.env.URL %>/nextservice/followup/save';
        var data = $('#formKendaraanCust').serialize();
        var alertstatus = false;
        $.ajax({
          type: 'POST',
          url: url,
          data: data,
          dataType: 'json',
          success: function (res) {
            var id = document.getElementById('follownorangka').value;
            var date = document.getElementById('followdate').value;
            swal(res.titlemessage, res.message, res.success);
            $('#followreason').val('');
            listFollowup(id, date);
          }
        });
      };

      function delFunction(id) {
                  console.log('asdasd')
        swal({
          title: "Yakin Ingin Menghapus Data ini?",
          text: "Data yang dihapus, tidak bisa kembali lagi.",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
          .then((willDelete) => {
            if (willDelete) {
              let url = '<%= process.env.URL %>/nextservice/followup/del/' + id;
              var alertstatus = false;
                  console.log(url)
              $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                success: function (res) {
                  var rangka = document.getElementById('follownorangka').value;
                  var date = document.getElementById('followdate').value;
                  swal(res.titlemessage, res.message, res.success);
                  $('#followreason').val('');
                  listFollowup(rangka, date);
                }
              });
            }
          });
      };
    </script>
</body>

</html>