<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../templates/header.ejs %>
    <!-- Template CSS -->
    <link
      rel="stylesheet"
      href="<%= process.env.URL %>/script-stisla/assets/css/style.css"
    />
    <link
      rel="stylesheet"
      href="<%= process.env.URL %>/script-stisla/assets/css/components.css"
    />
  </head>
  <body>
    <div id="app">
      <div class="main-wrapper">
        <%- include ../templates/navtop.ejs %> <%- include
        ../templates/navleft.ejs %>
        <div class="main-content">
          <section class="section">
            <div class="section-header">
              <h1>Import Job History</h1>
              <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active">
                  <a href="#">Import</a>
                </div>
                <div class="breadcrumb-item">Job History</div>
              </div>
            </div>

            <div class="section-body">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h4>Upload Excel</h4>
                    </div>

                    <div class="card-body">
                      <% if(alert.status != '200' && alert.status != '') { %>
                      <div class="alert alert-danger">
                        <div class="alert-title"><%= alert.status %></div>
                        <%= alert.message %>
                      </div>
                      <% } %> <% if(alert.status == '200' && alert.status != '')
                      { %>
                      <div class="alert alert-success">
                        <div class="alert-title"><%= alert.status %></div>
                        <%= alert.message %>
                      </div>
                      <% } %>
                      <h5>Last Update : <%= last %></h5>
                      <form
                        enctype="multipart/form-data"
                        method="POST"
                        action="<%= process.env.URL %>/job-history/upload"
                      >
                        <div class="form-group row">
                          <div class="col-sm-12">
                            <div>
                              <input type="file" name="file" />
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary">
                              Import Data
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <%- include ../templates/footer.ejs %>
      </div>
    </div>
    <%- include ../templates/script.ejs %>
  </body>
</html>
