<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../../../views/templates/header.ejs %>
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <style>
      #the-canvas {
        direction: ltr;
        width: 100%;
      }
    </style>
  </head>
  <body class="">
    <div id="app">
      <div class="main-wrapper">
        <%- include ../../../views/templates/navtop.ejs %> 
        <%- include ../../../views/templates/navleft.ejs %>
        <div class="main-content" style="padding-top: 90px">
          <section class="section">
            <div class="section-header">
              <h1>E-News</h1>
              <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active">
                  <a href="#">Dashboard</a>
                </div>
                <div class="breadcrumb-item">E-News</div>
              </div>
            </div>

            <div class="section-body">
              <div class="row">
                <% for (var i = 0; i < datarow.length; i++) { %>
                <div class="col-6 col-md-3 col-lg-3" >
                  <article class="article article-style-c" >
                    <div class="article-header pt-2">
                      <div class="article-image" style="height: 100%; width: 80%; margin: 1px auto;" data-background="/assets/e-news/<%= datarow[i].sampul_enews %>"></div>
                    </div>
                    <div class="article-details">
                      <div class="article-category">
                        <a href="#">News</a>
                        <div class="bullet"></div>
                        <%
                          var date = new Date(datarow[i].date_upload);
                          var month = (date.getMonth()+1);//months (0-11)
                          var day = (date.getDate());//day (1-31)
                          var year= date.getFullYear();
                        %>
                        <a href="#"><%= day+"-"+month+"-"+year;  %></a>
                      </div>
                      <div class="article-title" style="max-height: 50px; min-height: 50px;">
                        <h2>
                          <a id="m" data-id="/assets/e-news/<%= datarow[i].location_enews %>" data-toggle="modal" data-target="#exampleModal" href="#"><b><%= datarow[i].judul_enews %></b></a>
                        </h2>
                      </div>
                    </div>
                  </article>
                </div>
                <% } %>
              </div>
            </div>
          </section>
        </div>
        <%- include ../../../views/templates/footer.ejs %>
      </div>
    </div>
    <%- include ../../../views/templates/script.ejs %>
    <%- include ../../../views/templates/scriptpdf.ejs %>
  </body>
</html>
