<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../templates/header.ejs %>
    <!-- Template CSS -->
    <link rel="stylesheet" href="script-stisla/assets/css/style.css" />
    <link rel="stylesheet" href="script-stisla/assets/css/components.css" />
  </head>
  <body>
    <div id="app">
      <div class="main-wrapper">
        <%- include ../templates/navtop.ejs %> <%- include
        ../templates/navleft.ejs %>
        <div class="main-content">
          <section class="section">
            <div class="section-header">
              <h1>Next Service</h1>
              <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active">
                  <a href="#">Dashboard</a>
                </div>
                <div class="breadcrumb-item">Next Service</div>
              </div>
            </div>

            <div class="section-body">
              <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <h4>List Next Service</h4>
                      <div class="float-right">
                        <button class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Tambah Data</button>
                      </div>
                    </div>
                    <div class="card-body">
                      <table class="table table-striped" id="table-1">
                        <thead>
                          <tr>
                            <th scope="col" style="width: 20px;">No.</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Nopol</th>
                            <th scope="col">Tipe</th>
                            <th scope="col">Last Service</th>
                            <th scope="col" style="width: 100px;">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>
                              Cendrawasih
                            </td>
                            <td>DK-212-AJ</td>
                            <td>INNOVA</td>
                            <td>12-12-2020</td>
                            <td>
                              <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-history"></i></button>
                              <button class="btn btn-warning btn-sm"><i class="fas fa-pen"></i></button>
                              <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>
                              Cendrawasih
                            </td>
                            <td>DK-212-AJ</td>
                            <td>INNOVA</td>
                            <td>12-12-2020</td>
                            <td>
                              <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-history"></i></button>
                              <button class="btn btn-warning btn-sm"><i class="fas fa-pen"></i></button>
                              <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>
                              Cendrawasih
                            </td>
                            <td>DK-212-AJ</td>
                            <td>INNOVA</td>
                            <td>12-12-2020</td>
                            <td>
                              <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-history"></i></button>
                              <button class="btn btn-warning btn-sm"><i class="fas fa-pen"></i></button>
                              <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>
                              Cendrawasih
                            </td>
                            <td>DK-212-AJ</td>
                            <td>INNOVA</td>
                            <td>12-12-2020</td>
                            <td>
                              <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-history"></i></button>
                              <button class="btn btn-warning btn-sm"><i class="fas fa-pen"></i></button>
                              <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>
                              Cendrawasih
                            </td>
                            <td>DK-212-AJ</td>
                            <td>INNOVA</td>
                            <td>12-12-2020</td>
                            <td>
                              <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-history"></i></button>
                              <button class="btn btn-warning btn-sm"><i class="fas fa-pen"></i></button>
                              <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">1</th>
                            <td>
                              Cendrawasih
                            </td>
                            <td>DK-212-AJ</td>
                            <td>INNOVA</td>
                            <td>12-12-2020</td>
                            <td>
                              <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-history"></i></button>
                              <button class="btn btn-warning btn-sm"><i class="fas fa-pen"></i></button>
                              <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- modal -->
              <div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer bg-whitesmoke br">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <%- include ../templates/footer.ejs %>
      </div>
    </div>
    <%- include ../templates/script.ejs %>
  </body>
</html>
