<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../templates/header.ejs %>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="main-wrapper">
        <%- include ../templates/navtop.ejs %> <%- include
        ../templates/navleft.ejs %>
        <div class="main-content">
          <section class="section">
            <div class="section-header">
              <h1>Dashboard</h1>
              <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active">
                  <a href="#">Dashboard</a>
                </div>
                <div class="breadcrumb-item"><a href="#">Layout</a></div>
                <div class="breadcrumb-item">Default Layout</div>
              </div>
            </div>

            <div class="section-body">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="card card-statistic-1">
                    <div class="card-icon bg-danger">
                      <i class="fas fa-users"></i>
                    </div>
                    <div class="card-wrap">
                      <div class="card-header">
                        <h4>Fist Class Total</h4>
                      </div>
                      <div class="card-body" id="tfirst"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="card card-statistic-1">
                    <div class="card-icon bg-warning">
                      <i class="fas fa-user-check"></i>
                    </div>
                    <div class="card-wrap">
                      <div class="card-header">
                        <h4>Registred Total</h4>
                      </div>
                      <div class="card-body" id="tregistred"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="card card-statistic-1">
                    <div class="card-icon bg-success">
                      <i class="fas fa-user-tie"></i>
                    </div>
                    <div class="card-wrap">
                      <div class="card-header">
                        <h4>Fleet Registred</h4>
                      </div>
                      <div class="card-body" id="tfleet"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="card card-statistic-1">
                    <div class="card-icon bg-primary">
                      <i class="fas fa-user-alt"></i>
                    </div>
                    <div class="card-wrap">
                      <div class="card-header">
                        <h4>Customers Registred</h4>
                      </div>
                      <div class="card-body" id="tcustomer"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- GRAFIKK -->
            <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="card">
                <div class="card-body">
                  <form id="formData" method="POST" action="" class="needs-validation row" novalidate="">
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control required datepicker" name="start" id="start_repair_type"
                        value="<%= start %>">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control required datepicker" name="end" id="end_repair_type"
                        value="<%= end %>">
                    </div>
                    <div class="form-group col-md-4">
                      <button type="button" onclick="pie_repair_type()" class="btn btn-primary btn-xs"><i class="fa fa-search"></i>
                        Search</button>
                    </div>
                  </form>
                  <figure class="highcharts-figure">
                      <div id="pie"></div>
                  </figure>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="card">
                <div class="card-body ">
                  <form id="formData" method="POST" action="" class="needs-validation row" novalidate="">
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control required datepicker" name="start" id="start_omzet_sa"
                        value="<%= start %>">
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control required datepicker" name="end" id="end_omzet_sa"
                        value="<%= end %>">
                    </div>
                    <div class="form-group col-md-4">
                      <button type="button" onclick="omzet_sa()" class="btn btn-primary btn-xs"><i class="fa fa-search"></i>
                        Search</button>
                    </div>
                  </form>
                  <figure class="highcharts-figure table-responsive">
                      <div id="omzet_sa"></div>
                  </figure>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="card">
                <div class="card-body ">
                  <form id="formData" method="GET" action="" class="needs-validation row" novalidate="">
                    <div class="form-group col-md-2">
                      <select name="fbulancalender" id="fbulancalender" class="form-control">
                        <option value="01" <%= (fbulancalender=='01' ? 'selected' : '') %>>January</option>
                        <option value="02" <%= (fbulancalender=='02' ? 'selected' : '') %>>February</option>
                        <option value="03" <%= (fbulancalender=='03' ? 'selected' : '') %>>March</option>
                        <option value="04" <%= (fbulancalender=='04' ? 'selected' : '') %>>April</option>
                        <option value="05" <%= (fbulancalender=='05' ? 'selected' : '') %>>May</option>
                        <option value="06" <%= (fbulancalender=='06' ? 'selected' : '') %>>June</option>
                        <option value="07" <%= (fbulancalender=='07' ? 'selected' : '') %>>July</option>
                        <option value="08" <%= (fbulancalender=='08' ? 'selected' : '') %>>August</option>
                        <option value="09" <%= (fbulancalender=='09' ? 'selected' : '') %>>September</option>
                        <option value="10" <%= (fbulancalender=='10' ? 'selected' : '') %>>October</option>
                        <option value="11" <%= (fbulancalender=='11' ? 'selected' : '') %>>November</option>
                        <option value="12" <%= (fbulancalender=='12' ? 'selected' : '') %>>December</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <input type="number" max="9999" class="form-control required" name="ftahuncalender" id="ftahuncalender"
                        value="<%= ftahuncalender %>">
                    </div>
                    <div class="form-group col-md-3">
                      <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-search"></i>
                        Search</button>
                    </div>
                  </form>
                  <div class="fc-overflow">
                    <div id="myEvent"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END GRAFIK -->
          </section>
        </div>
        <%- include ../templates/footer.ejs %>
      </div>
    </div>
    <%- include ../templates/script.ejs %>
    <%- include ../dashboard/script_type_repair.ejs %>
    <%- include ../dashboard/script_omzet_sa.ejs %>
    <script src="<%= process.env.URL %>/script-stisla/assets/js/page/modules-chartjs.js"></script>
    <script>
      $(document).ready(function () {
        getDatadashboard();
        pie_repair_type();
        omzet_sa();
        getCalendar();
      });
      function getDatadashboard() {
        let url = '<%= process.env.URL %>/custfirst/dashboard';
        $.ajax({
          type: 'GET',
          url: url,
          dataType: 'json',
          success: function (res) {
            $('#tfirst').html(res.count[0].first_class.toLocaleString());
            $('#tregistred').html(res.count[0].registred.toLocaleString());
            $('#tfleet').html(res.count[0].fleet.toLocaleString());
            $('#tcustomer').html(res.count[0].customer.toLocaleString());
          }
        });
      }
    </script>
    <%- include ../dashboard/script_calendar.ejs %>
  </body>
</html>
