<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../templates/header.ejs %>
  </head>
  <body>
    <div id="app">
      <div class="main-wrapper">
        <%- include ../templates/navtop.ejs %> <%- include
        ../templates/navleft.ejs %>
        <div class="main-content">
          <section class="section">
            <div class="section-header">
              <h1>Blank Page test</h1>
            </div>

            <div class="section-body"></div>
          </section>
        </div>
        <%- include ../templates/footer.ejs %>
      </div>
    </div>
    <%- include ../templates/script.ejs %>
  </body>
</html>
