<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../templates/header.ejs %>
  </head>
  <body class="">
    <div id="app">
      <div class="main-wrapper">
        <%- include ../templates/navtop.ejs %> <%- include
        ../templates/navleft_user.ejs %>
        <div class="main-content" style="padding-top: 90px">
          <section class="section">
            <div class="section-header">
              <h1>E-News</h1>
              <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active">
                  <a href="#">Dashboard</a>
                </div>
                <div class="breadcrumb-item">E-News</div>
              </div>
            </div>

            <div class="section-body">
              <div class="row">
                <div style="height: 75vh" class="col-sm-12">
                  <object
                    data="<%= process.env.URL %>/enews/pdf#view=FitW#zoom=85&scrollbar=0&toolbar=0&navpanes=0"
                    id="pdf_content"
                    style="pointer-events: none"
                    type="application/pdf"
                    width="100%"
                    height="600vh"
                  >
                    <p>
                      It appears you don't have a PDF plugin for this browser.
                      No biggie... you can
                      <a href="<%= process.env.URL %>/enews/pdf"
                        >click here to download the PDF file.</a
                      >
                    </p>
                  </object>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!-- modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="exampleModal1">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Form Data Customer</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="height: 620px">
                <iframe
                  src="/assets/e-news/doc/E_News April 21.pdf"
                  frameborder="0"
                  height="100%"
                  width="100%"
                ></iframe>
              </div>
              <div class="modal-footer bg-whitesmoke br">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        <%- include ../templates/footer.ejs %>
      </div>
    </div>
    <%- include ../templates/script.ejs %>
  </body>
</html>
