<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../../../views/templates/header.ejs %>
  </head>
  <body class="">
    <div id="app">
      <div class="main-wrapper">
        <%- include ../../../views/templates/navtop.ejs %> 
        <%- include ../../../views/templates/navleft_user.ejs %>
        <div class="main-content" style="padding-top: 90px">
          <section class="section">
            <div class="section-header">
              <h1>Toyota How</h1>
              <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active">
                  <a href="#">Dashboard</a>
                </div>
                <div class="breadcrumb-item">Toyota How</div>
              </div>
            </div>

            <div class="section-body">
              <div class="row">
                <% for (var i = 0; i < datarow.length; i++) { %>
                <div class="col-6 col-md-3 col-lg-3">
                  <article class="article article-style-c">
                    <div class="article-header pt-2">
                      <div class="article-image" style="height: 100%; width: 100%; margin: 1px auto;" data-background="/assets/how/<%= datarow[i].sampul_how %>"></div>
                      <div class="article-badge">
                        <a href="/assets/how/<%= datarow[i].location_how %>" class="article-badge-item bg-danger">
                          <i class="fas fa-file-pdf"></i> Download
                        </a>
                      </div>
                    </div>
                    <div class="article-details">
                      <div class="article-category">
                        <a href="#">How</a>
                        <div class="bullet"></div>
                        <%
                          var date = new Date(datarow[i].date_upload);
                          var month = (date.getMonth()+1);//months (0-11)
                          var day = (date.getDate());//day (1-31)
                          var year= date.getFullYear();
                        %>
                        <a href="#"><%= day+"-"+month+"-"+year;  %></a>
                      </div>
                      <div class="article-title">
                        <h2>
                          <a href="/toyotahow/detail/<%= datarow[i].id_how %>"><b><%= datarow[i].judul_how %></b></a>
                        </h2>
                      </div>
                    </div>
                  </article>
                </div>
                <% } %>
              </div>
            </div>
          </section>
        </div>
        
        <!-- modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="exampleModal1">
          <div class="modal-dialog modal-lg p-0" role="document">
            <div class="modal-content m-0 p-0">
              <div class="modal-header p-0">
                  <button type="button" class="close mr-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body p-0" style="height: 600px;">
                <embed id="fileEnews" src="" type="application/pdf" height="100%" width="100%">/>
              </div>
            </div>
          </div>
        </div>
        <%- include ../../../views/templates/footer.ejs %>
      </div>
    </div>
    <%- include ../../../views/templates/script.ejs %>
    <script>
      $(document).on("click", "#m", function () {
          var myBookId = $(this).data('id');
          $(".modal-body #fileEnews").removeAttr('src');
          $(".modal-body #fileEnews").attr('src', '/assets/toyotahow/'+myBookId);
      });
    </script>
  </body>
</html>
