<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../../../views/templates/header.ejs %>
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <style>
      #the-canvas {
        direction: ltr;
        width: 100%;
      }
    </style>
  </head>
  <body class="<%= (auth.id_user>0 ? '' : 'layout-3') %>">
    <div id="app">
      <div class="main-wrapper <%= (auth.id_user>0 ? '' : 'container') %>">
        <%- include ../../../views/templates/navtop.ejs %>
        <% if(auth.id_user>0){ %>
        <%- include ../../../views/templates/navleft.ejs %>
        <% } %>
        <div class="main-content" style="padding-top: 90px">
          <section class="section">
            <div class="section-header">
              <h1>Toyota How</h1>
              <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active">
                  <a href="#">Dashboard</a>
                </div>
                <div class="breadcrumb-item">Toyota How</div>
              </div>
            </div>

            <div class="section-body">
              <div class="row">
                <% for (var i = 0; i < datarow.length; i++) { %>
                <div class="col-6 col-md-3 col-lg-3">
                  <article class="article article-style-c">
                    <div class="article-header pt-2">
                      <div class="article-image" style="height: 100%; width: 100%; margin: 1px auto;" data-background="/assets/how/<%= datarow[i].sampul_how %>"></div>
                    </div>
                    <div class="article-details">
                      <div class="article-category">
                        <a href="#">How</a>
                        <div class="bullet"></div>
                        <%
                          var date = new Date(datarow[i].date_upload);
                          var month = (date.getMonth()+1);//months (0-11)
                          var day = (date.getDate());//day (1-31)
                          var year= date.getFullYear();
                        %>
                        <a href="#"><%= day+"-"+month+"-"+year;  %></a>
                      </div>
                      <div class="article-title">
                        <h2>
                          <a id="m" href="<%= process.env.URL+'/toyotahow/detail/'+datarow[i].id_how %>"><b><%= datarow[i].judul_how %></b></a>
                        </h2>
                      </div>
                    </div>
                  </article>
                </div>
                <% } %>
              </div>
            </div>
          </section>
        </div>
        <%- include ../../../views/templates/footer.ejs %>
      </div>
    </div>
    <%- include ../../../views/templates/script.ejs %>
    <%- include ../../../views/templates/scriptpdf.ejs %>
  </body>
</html>
