<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../templates/header.ejs %>
  </head>
  <body class="">
    <div id="app">
      <div class="main-wrapper">
        <%- include ../templates/navtop.ejs %> 
        <%- include ../templates/navleft_user.ejs %>
        <div class="main-content" style="padding-top: 90px">
          <section class="section">
            <div class="section-header">
              <h1>TOYOTA HOW</h1>
              <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active">
                  <a href="#">Dashboard</a>
                </div>
                <div class="breadcrumb-item">ToyotaHow</div>
              </div>
            </div>

            <div class="section-body gallery gallery-fw">
              <h2 class="section-title">Cara Mengecat Mobil</h2>
              <div class="row">
                <div class="col-12">
                  <div class="activities">
                    <div class="activity">
                      <div class="activity-icon bg-primary text-white shadow-primary">
                        <h3 class="mt-2">1</h3>
                      </div>
                      <div class="activity-detail">
                        <h4>Melakukan Persiapan</h4>
                        <div class="gallery-item img-responsive" data-image="/assets/toyotahow/detail/car1.jpg" style="height: 300px;" data-title="Image 1"></div>
                        <p><b>Cari lokasi yang tertutup, berventilasi, tidak terlalu berdebu, dan aman untuk melakukan pekerjaan ini.</b> bisa mengecat mobil dengan aman dan mudah, Anda memerlukan ruang tertutup dengan ventilasi baik, tidak terlalu berdebu, memiliki pencahayaan yang baik, dan lapang agar Anda bisa mengelilingi mobil dengan mudah. Garasi mungkin tempat yang sesuai untuk pekerjaan ini, tetapi jangan menggunakan ruangan ini jika terdapat pemanas air atau sumber lain yang berpotensi menimbulkan api ketika terkena uap cat yang akan menumpuk ketika Anda melakukan pengecatan.[1]
Mengecat kendaraan di dalam garasi mungkin tidak diperbolehkan di daerah Anda. Tanyakan kepada pihak berwenang sebelum melanjutkan.
Tutupi interior di dalam ruangan dengan terpal untuk melindunginya dari semprotan cat dan mengurangi jumlah debu yang mungkin akan menempel pada cat yang baru disemprotkan.</p>
                      </div>
                    </div>
                    <div class="activity">
                      <div class="activity-icon bg-primary text-white shadow-primary">
                        <h3 class="mt-2">2</h3>
                      </div>
                      <div class="activity-detail">
                        <h4>Sertakan peralatan keamanan ketika Anda mengumpulkan bahan-bahan.</h4>
                        <div class="gallery-item img-responsive" data-image="/assets/toyotahow/detail/car2.jpg" style="height: 300px;" data-title="Image 1"></div>
                        <p><b>Saat Anda berbelanja di toko perlengkapan rumah, toko cat, dan/atau toko onderdil mobil untuk membeli alat semprot, cat dasar, cat utama, alat ampelas, dan bahan lain untuk keperluan pengecatan, pastikan juga untuk membeli peralatan keselamatan dan kesehatan. Benda utama yang harus dibeli adalah respirator (topeng gas). Cari tahu cara menggunakannya dengan benar.[2]
Pilih respirator yang dirancang dan dijual untuk pengecatan kendaraan.
Selain itu, pakai kacamata pengaman, sarung tangan nitrile, dan baju plastik sekali pakai yang memiliki tudung ketika Anda menghilangkan lapisan cat lama dan menyemprotkan cat baru.
Lihat "Hal yang Anda Butuhkan" di bagian bawah untuk mengetahui bahan-bahan yang dibutuhkan untuk pekerjaan ini secara lengkap.</p>
                      </div>
                    </div>
                    <div class="activity">
                      <div class="activity-icon bg-primary text-white shadow-primary">
                        <h3 class="mt-2">3</h3>
                      </div>
                      <div class="activity-detail">
                        <h4>Sertakan peralatan keamanan ketika Anda mengumpulkan bahan-bahan.</h4>
                        <div class="gallery-item img-responsive" data-image="/assets/toyotahow/detail/car3.jpg" style="height: 300px;" data-title="Image 1"></div>
                        <p><b>Cari lokasi yang tertutup, berventilasi, tidak terlalu berdebu, dan aman untuk melakukan pekerjaan ini.</b> bisa mengecat mobil dengan aman dan mudah, Anda memerlukan ruang tertutup dengan ventilasi baik, tidak terlalu berdebu, memiliki pencahayaan yang baik, dan lapang agar Anda bisa mengelilingi mobil dengan mudah. Garasi mungkin tempat yang sesuai untuk pekerjaan ini, tetapi jangan menggunakan ruangan ini jika terdapat pemanas air atau sumber lain yang berpotensi menimbulkan api ketika terkena uap cat yang akan menumpuk ketika Anda melakukan pengecatan.[1]
Mengecat kendaraan di dalam garasi mungkin tidak diperbolehkan di daerah Anda. Tanyakan kepada pihak berwenang sebelum melanjutkan.
Tutupi interior di dalam ruangan dengan terpal untuk melindunginya dari semprotan cat dan mengurangi jumlah debu yang mungkin akan menempel pada cat yang baru disemprotkan.</p>
                      </div>
                    </div>
                    <div class="activity">
                      <div class="activity-icon bg-primary text-white shadow-primary">
                        <i class="fas fa-play"></i>
                      </div>
                      <div class="activity-detail">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/uXAvWtBLbr0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <%- include ../templates/footer.ejs %>
      </div>
    </div>
    <%- include ../templates/script.ejs %>
  </body>
</html>
