<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ../../../views/templates/header.ejs %>
  <!-- Template CSS -->
  <link rel="stylesheet" href="script-stisla/assets/css/style.css" />
  <link rel="stylesheet" href="script-stisla/assets/css/components.css" />
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <%- include ../../../views/templates/navtop.ejs %>
      <%- include ../../../views/templates/navleft.ejs %>
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1><%= title %></h1>
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active">
                <a href="#">Dashboard</a>
              </div>
              <div class="breadcrumb-item"><%= title %></div>
            </div>
          </div>

          <div class="section-body">
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h4><%= tbtitle %></h4>
                    <div class="float-right">
                      <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal" onclick="createFunction();"><i
                          class="fas fa-plus"></i> Tambah Data</button>
                    </div>
                  </div>
                  <div class="card-body">
                    <% if(alert.message != '') { %>
                    <br>
                    <div class="alert alert-<%= alert.status %> alert-autoclose" style="text-align: center;">
                      <strong><%= alert.message %></strong>
                    </div>
                    <% } %>
                    <table class="table table-striped" id="table-1" style="width:100%">
                      <thead>
                        <tr>
                          <th scope="col" width="5%">No.</th>
                          <% htitle.forEach(function(h) { %>
                          <th><%= h.label %></th>
                          <% }) %>
                          <th scope="col" width="15%">Status</th>
                          <th scope="col" width="15%">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (var i = 0; i < datarow.length; i++) { %>
                        <tr>
                          <th scope="row"><%= i+1 %></th>
                          <% for (var h = 0; h < htitle.length; h++){ %>
                          <td><%= datarow[i][htitle[h].id] %></td>
                          <% } 
                                status = (datarow[i].status!='1' ? 'Tidak Aktif' : 'Aktif' ) 
                                badge = (datarow[i].status!='1' ? 'badge badge-danger' : 'badge badge-success' ) 
                              %>
                          <td>
                            <span class="<%= badge %>"><%= status %></span>
                          </td>
                          <td>
                            <button class="btn btn-primary btn-sm" data-toggle="" data-target=""><i
                                class="fas fa-car"></i></button>
                            <button class="btn btn-warning btn-sm"
                              onclick="editFunction('<%= datarow[i].id_customer %>')" data-id="<%= datarow[i].id %>"
                              data-toggle="modal" data-target="#exampleModal"><i class="fas fa-pen"></i></button>
                            <button class="btn btn-danger btn-sm" onclick="delFunction('<%= datarow[i].id_customer %>')"
                              data-id="<%= datarow[i].id %>"><i class="fas fa-trash"></i></button>
                          </td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">
          <div class="modal-dialog" role="document">
            <form id="formData" method="POST" action="<%= process.env.URL %>/customer/addcustomer" class="needs-validation"
              novalidate="">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Form Data <%= tbtitle %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label>Nama Customer</label>
                    <input type="text" id="nama" name="nama" class="form-control" pattern=".{5,}" required="">
                  </div>
                  <div class="form-group">
                    <label>No Telp.</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fas fa-phone"></i>
                        </div>
                      </div>
                      <input type="text" id="no_telp" name="no_telp" class="form-control phone-number input-phone"
                        maxlength="12" minlength="11" pattern=".{11,12}" required="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Whatsapp</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fab fa-whatsapp"></i>
                        </div>
                      </div>
                      <input type="text" id="wa" name="wa" class="form-control phone-number input-phone" maxlength="12"
                        minlength="11" pattern=".{11,12}" required="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Instagram</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fab fa-instagram"></i>
                        </div>
                      </div>
                      <input type="text" id="ig" name="ig" class="form-control" pattern=".{1,}" required="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Facebook</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fab fa-facebook"></i>
                        </div>
                      </div>
                      <input type="text" id="facebook" name="facebook" class="form-control" pattern=".{1,}" required="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Alamat</label>
                    <textarea name="alamat" id="alamat" class="form-control" required=""></textarea>
                  </div>
                  <div class="form-group">
                    <label>Alamat Dati 2</label>
                    <textarea name="alamat_dati2" id="alamat_dati2" class="form-control" required=""></textarea>
                  </div>
                  <div class="form-group">
                    <label>Alamat Dari 3</label>
                    <textarea name="alamat_dati3" id="alamat_dati3" class="form-control" required=""></textarea>
                  </div>
                  <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" id="status" name="status" required="">
                      <option id="optionfalse" value="0">Tidak Aktif</option>
                      <option id="optiontrue" value="1">Aktif</option>
                    </select>
                  </div>
                </div>
                <div class="modal-footer bg-whitesmoke br">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-success">Save changes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- END MODAL -->
      </div>
      <%- include ../../../views/templates/footer.ejs %>
    </div>
  </div>
  <%- include ../../../views/templates/script.ejs %>
  <script type="text/javascript">
    var cleave = new Cleave('.input-phone', {
      phone: true,
      phoneRegionCode: 'us',
      delimiter: ''
    });
  
  window.setTimeout(function() {
    $(".alert-autoclose").fadeTo(500, 0).slideUp(500, function(){
      $(this).remove(); 
    });
  }, 5000);

    function delFunction(id) {
      let idData = id;
      swal({
          title: "Yakin Ingin Menghapus Data Customer ini?",
          text: "Data yang dihapus, tidak bisa kembali lagi.",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            window.location.assign(`/customer/delete/${idData}`);
          }
        });
    };

    function editFunction(id) {
      let idData = id;
      let url = '<%= process.env.URL %>/customer/edit/' + idData;
      console.log(url);
      $.ajax({
        type: 'GET',
        url: url,
        dataType: 'json',
        success: function (res) {
          $('#formData').attr('action', '<%= process.env.URL %>/customer/edit/save/'+idData);
          document.getElementById("nama").value = res.data.nama;
          document.getElementById("no_telp").value = res.data.no_telp;
          document.getElementById("wa").value = res.data.wa;
          document.getElementById("facebook").value = res.data.facebook;
          document.getElementById("ig").value = res.data.ig;
          document.getElementById("alamat").value = res.data.alamat;
          document.getElementById("alamat_dati2").value = res.data.alamat_dati2;
          document.getElementById("alamat_dati3").value = res.data.alamat_dati3;
          document.getElementById("option"+res.data.status).selected = true;
        }
      });
    };
    function createFunction(){
      $('#formData').attr('action', '<%= process.env.URL %>/customer/addcustomer');
      document.getElementById("nama").value = '';
      document.getElementById("no_telp").value = '';
      document.getElementById("wa").value = '';
      document.getElementById("facebook").value = '';
      document.getElementById("ig").value = '';
      document.getElementById("alamat").value = '';
      document.getElementById("alamat_dati2").value = '';
      document.getElementById("alamat_dati3").value = '';
      document.getElementById("optionfalse").selected = true;
    };
  </script>
</body>

</html>